* {
    padding: 0;
	margin: 0;	
}

body {
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	/* background: linear-gradient(to right, #ff105f, #ffad06); */
	/* background: rgb(204,42,231);       rgba(204,42,231,1) , rgba(111,94,228,1) */
    
	/* background: blue; */
	/* background-repeat: no-repeat;
	background-position: top; */
}



/*NAVBAR */

.nav {
    z-index: 1000;
    top: 0;
    position: fixed; 
	width: 100%;	
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: rgb(0, 153, 145);
	height: 110px;
}

.nav ul li {
    float: right;
    /* border-right: 1px solid #bbb; */
	font-size: 20px;
	/* padding-top: 22px;  */
	/* padding-top: 22px;  */
}

.nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0 16px;
	text-decoration: none;
	height: 40px;
	padding-top: 42px;
	
}

.nav ul li a:hover {    
    border-bottom:2px solid #fff;   
}

.nav .search-container {	
    float: left;
    margin-left: 10px;
}
.nav .search-container form{
	display:flex;
	/* justify-content: space-around;  */
	flex-wrap: nowrap;
}

.nav .search-container button:hover {
    background: #ccc;
}

.nav .search-container a img{
	margin-top: 26px; 
	width: 75px;
	height: 55px;
	border-radius: 20%;
	margin-right: 35px;	
}
.nav .search-container a img:hover{
	width: 80px;
	height: 60px;
}

.nav input[type=text] {
	
    padding: 6px;
	margin-top: 30px; 	
    font-size: 17px;
	width: 420px;
	height: 30px;
	border: none;
}	

.nav .search-container button {
	float: unset;
	width: 50px;
	height: 42px;
    padding: 6px 10px;
    margin-top: 30px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

header {
    margin-bottom: 80px;
} 

a{
    text-decoration: none;
}

#container #heading{
    margin-top: 140px;
    margin-left: 80px;
    font-size: 25px;
    text-decoration: underline;
}


.title{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 80px;
}

.block{    
    padding: 14px 16px;    
    width: 220px;
    height: 300px;
    border: 1px solid rgb(101, 101, 104);
    border-radius: 3px;
}
.block .content:hover{
    cursor: pointer;
}
.block .image img{  
    width: 170px;
    height: 210px;
    margin-left: 25px;    
}

.content h3{
    margin-top: 5px;
    color: #000;
}
.content p{
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(32, 29, 179);
}

.block-margin{
    margin-left: 50px; 
    margin-bottom: 20px;
}


/* FOOTER  */
footer {
    background-color: rgb(230, 224, 224);
    margin-top: 35px;
    margin-bottom: 15px;    
    width: 100%;
    bottom: 0; 
    position: relative;   
}


footer .copyright{
    text-align: center;
    padding: 14px;
    font-size: 15px;
}





